.header{
    background: rgb(6, 0, 12);
    margin-bottom: 20px;
    text-align: center;
}

.header_area{
    padding: 20px;
}

.menu_area{
    margin-top: 30px;
}

.menu_area nav a{
    background-color: rgb(151, 8, 32);
    color: white;
    margin-bottom: 10px;
    
}

.card-img-top{
    height: 300px;
}

.menu_area nav a:hover{
    background-color: rgb(154, 113, 187);
}

.active{
    background-color: rgb(151, 8, 32) !important;
}

.logo{
    width: 150px;
}

.main .card{
    margin-bottom: 15px;
    max-height: 100%;
}

.lançamentos{
    margin-bottom: 20px;
}

.main_area{
    margin-bottom: 20px;
}

.imagem_novidade{
    width: 100%;
    display: inline;
    margin-bottom: 10px;
}

.destaque-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


@media screen and (max-width: 472px){
    #col-sobre{
        max-width: none;
        flex: 0 0 100%;
    }
    #col-novidades{
        flex: 0 0 100%;
        max-width: none;
    }
} 

.botao-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.imagem_rede{
    height: 130px;
    width: 200px;
}

.imagem_face{
    height: 130px;
    width: 300px;
    margin-left: -50px;
}

.footer{
    background: rgb(151, 8, 32);
    margin-top: 10px;
    color: white;
    background-image: url(imagens/images.jpg);
    padding: 10px;
    background-size: cover;
    background-position: 0px + 250px;
}

.footer_area{
    padding: 20px;
    text-align: center;
}

.modal-body img{
    width: 100%;
}